 *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
}
html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body{
    line-height:normal;
    font-size:16px;
    
}
:root{
    --brickorange:#C15D26;
    --white:#ffffff;
    --tiffany:#62B2C6;
    --ash:#F1F2F2;
    --spaceblue:#1F2D60;
    --black:#231F20;
    --vermillion:#7A0306;
    --navy:#0F2949;
    --darkbrickorange:#B15E31;
}
@font-face
{
font-family: 'Bello-pro';
src: url('https://f.hubspotusercontent30.net/hubfs/19601383/Low%20and%20Slow%20Smokehouse%20Assets/fonts/Bello-Pro.woff2') format('woff');
}
/* CONTENT WRAPPER */
.content-wrapper
{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right:20px;
}
/* CONTENT WRAPPER */


/* ----------------------------------------------------- */
/* BODY DESIGN */
.white-button
{
    color: var(--brickorange);
    font-size: 13px;
    text-align: center;
    padding: 8.51px 45.14px 7.5px;
    background-color:var(--white) ;
    border-color:var(--brickorange);
    border-radius: 3px;
    cursor: pointer;
}
.white-button2
{
    color:var(--brickorange);
    background-color: var(--white);
    padding: 11.5px 51.44px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-weight: 600;
    transition: .3s all;
}
.orange-button
{
    background-color: var(--brickorange);
    color: var(--white);
    padding: 11.5px 51.44px;
    border: none;
    border-radius: 4px;
    transition: .3s all;
}
h1
{
    color:var(--tiffany);
    font-size: 120px;
    text-align: left;
    line-height: 1.6;
    text-shadow: -1px 3px 0px var(--white);
    font-family: 'Bello-pro';
}
h2
{
    font-size: 42px;
    text-align: center;
    font-family: filson soft,sans-serif;
    font-weight: 700;
}
h3
{
    font-size: 52px;
    /* text-align: left; */
    line-height:1.53;
    font-weight: 600;
}
h4
{
    font-size: 48px;
    font-weight:400;
    line-height: 1.6;
    text-align: center;
}
h5
{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 1.66;
}
h6
{
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
}
.para
{
    font-size: 32px;
    text-align: left;
    line-height: 1.2;
    color:var(--white);
    font-family: filson soft,sans-serif;
    font-weight: 500;
}
p
{
    font-size: 18px;
    font-family: 'Alegreya Sans', sans-serif;
    color: var(--white);
    font-weight: 400;
    /* text-align: center; */
}
p small
{
    font-size: 16px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: var(--black);
    line-height: 1.78;
}

.padd-top55
{
    padding-top: 55px;
}
.padd-top46
{
    padding-top: 46px;
}
.plineheight40
{
    line-height: 2.5;
}
.plineheight28
{
    line-height: 1.78;
}
.plineheight22
{
    line-height: 1.68;
}
.heading3
{
    font-family: 'Bello-pro';
    color: var(--white);
}
.heading4
{
    color: var(--vermillion);
    font-family: 'Bello-pro';
}
.heading5
{
    font-family: filson soft,sans-serif;
}
.heading6
{
    font-family: filson soft,sans-serif;
    color: var(--white);
}
/* ----------------------------------------------------- */
/* BODY DESIGN */

/* ----------------------------------------------------- */
/* HOVER */
.white-button2:hover
{
    color:var(--white);
    background-color: var(--brickorange);
}
.orange-button:hover
{
    background-color: var(--darkbrickorange);
}
/* ----------------------------------------------------- */
/* HOVER */